data/
*.csv
*.shp
*.shx
*.dbf
*.prj
*.zip
*.rds
*.xlsx
.Rproj.user/
__pycache__/
*.pyc
.env
R/old/
.png
.positai
gis/
*.tif
*.csv
*.shp
*.shx
*.dbf
*.prj
*.zip
*.rds
*.xlsx
.Rproj.user/
__pycache__/
*.pyc
.env
*.png
*.cst
gis/gis-anm/
*.tif
*.csv
*.shp
*.shx
*.dbf
*.prj
*.zip
*.rds
*.xlsx
*.aprx
.Rproj.user/
__pycache__/
*.pyc
.env
*.png
*.gdbtablx
*gdbtable
*.freelist
*.atx

*.cst
